@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'PT Sans', sans-serif;
}
body{
    background-color: #000101;
    color: #fefeff;
    transition:  0.7s ease-in-out;
}
a{
    color: #fefeff;
}
::after{
    background-color: #fefeff;
}