#medium{
    height:100vh;

    .medium-container{
        display: flex;
    }

    .medium-left{
        padding-top: 20vh;
        width: 50vw;
        height:100vh;
        
        .formation{
            background: url("../public/formationdistance.png");
            background-size: cover;
            width: 200px;
            height: 200px;
            
        }
    }
    .medium-right{
        padding-bottom: 20vh;
        width: 50vw;
        height:100vh;
        
        .travail{
            background: url("../public/jobs.png");
            background-size: cover;
            width: 200px;
            height: 200px;
        }
    }
    @media screen and (min-width: 1440px) {
        .medium-left,.medium-right{
            font-size: 1.5em;
        }
      }
      .low-left,.low-right{
        width: 50vw;
      }
      @media screen and (max-width: 750px) {
        .medium-container{
            flex-direction: column;
        }
        .medium-left, .medium-right{
            width: 100vw;
            height:400px;
            align-items:center;
        }
      }
      @media screen and (min-width: 2000px) {
        .medium-left,.medium-right{
            font-size: 30px;
        }
      }
}