nav{
    display: flex;
    justify-content: end;
    
    
    ul{
        display: flex;
        height: 40px;
        

        li{
            position: relative;
            width: 100px;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            &:after{
                content: '';
                position: absolute;
                height: 1px;
                
                width: 80%;
                left: 10px;
                bottom: 2px;
                transform-origin: left;
            }
            &:hover:after{
                animation: link 1.4s infinite ease-in-out;
            }

            a{
                
                font-weight: 600;
                text-decoration: none;
                
                &:hover{
                    transform: scale(1.03);
                    
                    transition: 0.2s;
                }
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    nav ul li{
        width: 127px;
        font-size: 1.3em;
        
    }
}
@media screen and (min-width: 2000px) {
    nav ul li{
        width: 150px;
        font-size: 1.7em;
        
    }
}
@media screen and (max-width: 500px) {
    nav{
        display: none;
        
    }
}
@keyframes link{
    50%{
        transform: scaleX(0.2);
    }
    100%{
        transform: scaleX(1);
    }
}