.bloc-container{
    display: flex;

    .left{
        width: 50vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container-photo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .photo{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background: url("../public/profil2.jpg");
                background-size: 160%;
                background-repeat: no-repeat;
                background-position-y: -90px;
                background-position-x: -60px;
                filter: grayscale(10%);
                transform: translateY(-100px);
                &:hover{
                    filter: grayscale(100%);
                    transition: 0.5s;
                }
                &.is-inview{
                    transition: 1.3s;
                    transform: translateY(0px);
                }
            }
        }
        .technos{
            margin-top: 20px;
            perspective: 900px;
            .appear{
                opacity: 0;
                transform: translateY(100%) rotateX(-80deg);
                transform-origin: top center;
                transform-style: preserve-3d;
                transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            .appear.is-inview{
                transition-delay: 1s;
                opacity: 1;
                transform: none;
            }
            #tech1{
                transition-delay: 0.6s;
            }
            #tech2{
                transition-delay: 0.9s;
            }
            #tech3{
                transition-delay: 1.2s;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .bloc-container{
        h1{
            font-size: 3.5em;
            font-weight:900;
        }
        h3{
            font-size: 2em;
            font-weight: 800;
        }
        .left .container-photo .photo{
            width: 350px;
            height: 350px;
            background-position-y: -124px;
            background-position-x: -88px;
        }
    }
}
@media screen and (max-width: 750px) {
    .bloc-container{
        flex-direction: column;
        .left, .right{
            height: 300px;
            width: 97vw;
        }
        .left{
            margin-top: 35px;
        }
    }
}
