.bloc-container{
    display: flex;

    .left{
        width: 50vw;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .container-photo{
            display: flex;
            align-items: center;
            justify-content: center;

            .photo{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-image: url("/public/profil.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}