.bloc-container{
    display: flex;

    .left{
        width: 50vw;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .container-photo{
            display: flex;
            align-items: center;
            justify-content: center;

            .photo{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background-image: url("/public/profil2.jpg");
                background-size:cover;
                background-size: 160%;
                background-repeat: no-repeat;
                background-position-y: -90px;
                background-position-x: -60px;
            }
        }
    }
}