.bloc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc-container .left {
  width: 50vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloc-container .left .container-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloc-container .left .container-photo .photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: url("../public/profil2.jpg");
  background-size: 160%;
  background-repeat: no-repeat;
  background-position-y: -90px;
  background-position-x: -60px;
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.bloc-container .left .container-photo .photo:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bloc-container .left .container-photo .photo.is-inview {
  -webkit-transition: 1.3s;
  transition: 1.3s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.bloc-container .left .technos {
  margin-top: 20px;
  -webkit-perspective: 900px;
          perspective: 900px;
}

.bloc-container .left .technos .appear {
  opacity: 0;
  -webkit-transform: translateY(100%) rotateX(-80deg);
          transform: translateY(100%) rotateX(-80deg);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.bloc-container .left .technos .appear.is-inview {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.bloc-container .left .technos #tech1 {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.bloc-container .left .technos #tech2 {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.bloc-container .left .technos #tech3 {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

@media screen and (min-width: 1440px) {
  .bloc-container h1 {
    font-size: 3.5em;
    font-weight: 900;
  }
  .bloc-container h3 {
    font-size: 2em;
    font-weight: 800;
  }
  .bloc-container .left .container-photo .photo {
    width: 350px;
    height: 350px;
    background-position-y: -124px;
    background-position-x: -88px;
  }
}

@media screen and (max-width: 750px) {
  .bloc-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bloc-container .left, .bloc-container .right {
    height: 300px;
    width: 97vw;
  }
  .bloc-container .left {
    margin-top: 35px;
  }
}
/*# sourceMappingURL=photo.css.map */