.parent {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
      "a a b b"
      "c c d d"
      "e e f f"
      "g g h h";
  }
  
.a { 
    margin-top: 50px;
    grid-area: a;
    display: flex;
    justify-content: center;
    .image{
        background: url("../public/films-small.png");
        background-size: cover;
        border-radius: 7px;
        width:300px;
        height: 250px;
        border: 0;
        &:hover{
            position: absolute;
            background: url("../public/films-large.png");
            background-size: cover;
            left: 50px;
            width: 500px;
            height: 450px;
        }
    }
}
  
.b {
    margin-top: 100px;
    padding-left: 10px;
    grid-area: b;
    a,p{
        font-weight: 600;
    } 
}
.c {
    padding-right: 10px;
    margin-top: 100px;
    grid-area: c;
    h2{
        text-align: end;
    }
    .span-contain{
        justify-content: end;
    }
    p{
        font-weight: 600;
        text-align: end;
    } 
}
.d { 
    margin-top: 50px;
    grid-area: d;
    display: flex;
    justify-content: center;
    .image{
        background: url("../public/blog-small.png");
        background-size: cover;
        border-radius: 7px;
        width:300px;
        height: 250px;
        border: 0;
        &:hover{
            background: url("../public/blog-large.png");
            background-size: cover;
            position: absolute;
            right: 50px;
            width: 500px;
            height: 450px;
        }
    }
}
  
.e { 
    margin-top: 50px;
    grid-area: e;
    display: flex;
    justify-content: center;
    position: relative;
    .image{
        background: url("../public/todo.png");
        background-size: cover;
        border-radius: 7px;
        width:300px;
        height: 250px;
        border: 0;
        &:hover{
            background-size: cover;
            position: absolute;
            left: 50px;
            width: 500px;
            height: 450px;
        }
    }
 }
  
.f { 
    margin-top: 100px;
    padding-left: 10px;
    grid-area: f;
    a,p{
        font-weight: 600;
    } 
}
  
.g { 
    padding-right: 10px;
    margin-top: 100px;
    grid-area: g;
    h2{
        text-align: end;
    }
    .span-contain{
        justify-content: end;
    }
    p{
        font-weight: 600;
        text-align: end;
    } 
}
  
.h { 
    margin-top: 50px;
    grid-area: h;
    display: flex;
    justify-content: center;
    position: relative;
    .image{
        border-radius: 7px;
        background: url("../public/friends.png");
        background-size: cover;
        width:300px;
        height: 250px;
        border: 0;
        &:hover{
            background: url("../public/friends-large.png");
            background-size: cover;
            position: absolute;
            right: 50px;
            width: 500px;
            height: 450px;
        }
    }
 }
 .a, .d, .e, .h{
    .image{
        box-shadow: 1px 1px 12px #555;
    
    }
 }

span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.span-contain{
    display: flex;
}
.fa-brands{
      color: rgba(73, 55, 55, 0.88);
      font-size: 1.7em;
      font-weight: 600;
}
@media screen and (min-width: 1440px) {
    .a,.D,.e,.h{
        .image{
            width:500px;
            height: 350px;
            &:hover{
                width: 700px;
                height: 550px;
            }
        }
    }
    .b, .c, .f, .g{
        font-size: 1.5em;
    }
  }
  @media screen and (min-width: 2000px) {
    .a,.D,.e,.h{
        .image{
            width:700px;
            height: 450px;
            &:hover{
                width: 900px;
                height: 550px;
            }
        }
    }
  }
  @media screen and (max-width: 750px) {
    .a,.d,.e,.h{
        .image{
            width: 250px;
            height: 200px;
            &:hover{
                width: 250px;
                height: 200px;
                position: relative;
                right: auto;
                left: auto;
            }
        }
    }
}
@media screen and (max-width: 510px) {
    .parent {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "b"
          "b"
          "a"
          "a"
          "c"
          "c"
          "d"
          "d"
          "f"
          "f"
          "e"
          "e"
          "g"
          "g"
          "h"
          "h";
      }
      .b, .c, .f, .g{
        text-align: center;
        margin-top: 10px;
        padding-right: 0;
        padding-left: 0;
        padding-top: 20px;
        h2{
            text-align: center;
        }
        .span-contain{
            justify-content: center;
        }
        p{
            text-align: center;
        } 
    }
    .a,.d,.e,.h{
        margin-top: 10px;
        ::before{
            display: none;
        }
        .image{
            &:hover{
                background-size: cover;
                position:relative;
                left: auto;
                right: auto;
                overflow: auto;
            }
        }
    }
  }
  /*
  .h{
    ::before{
        content: '';
        position: absolute;
        background-color: green;
        width: 2px;
        height: 0%;
        left: 0;
        animation: line 0.5s forwards 4s; 
    }
  }
  .e{
    ::before{
        content: '';
        position: absolute;
        background-color: green;
        width: 2px;
        height: 0%;
        right: -3px;
        animation: line 0.5s forwards 2s; 
    }
  }
  @keyframes line{
    
    100%{
        height: 111%;
    }
  } */
  