.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
      grid-template-areas: "a a b b" "c c d d" "e e f f" "g g h h";
}

.a {
  margin-top: 50px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a .image {
  background: url("/public/films-small.png");
  background-size: cover;
  border-radius: 7px;
  width: 300px;
  height: 250px;
  border: 0;
}

.a .image:hover {
  position: absolute;
  background: url("/public/films-large.png");
  background-size: cover;
  left: 50px;
  width: 500px;
  height: 450px;
}

.b {
  margin-top: 100px;
  padding-left: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: b;
}

.b a, .b p {
  font-weight: 600;
}

.c {
  padding-right: 10px;
  margin-top: 100px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: c;
}

.c h2 {
  text-align: end;
}

.c .span-contain {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.c p {
  font-weight: 600;
  text-align: end;
}

.d {
  margin-top: 50px;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d .image {
  background: url("/public/blog-small.png");
  background-size: cover;
  border-radius: 7px;
  width: 300px;
  height: 250px;
  border: 0;
}

.d .image:hover {
  background: url("/public/blog-large.png");
  background-size: cover;
  position: absolute;
  right: 50px;
  width: 500px;
  height: 450px;
  overflow: auto;
}

.e {
  margin-top: 50px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.e .image {
  background: url("/public/todo.png");
  background-size: cover;
  border-radius: 7px;
  width: 300px;
  height: 250px;
  border: 0;
}

.e .image:hover {
  background-size: cover;
  position: absolute;
  left: 50px;
  width: 500px;
  height: 450px;
  overflow: auto;
}

.f {
  margin-top: 100px;
  padding-left: 10px;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: f;
}

.f a, .f p {
  font-weight: 600;
}

.g {
  padding-right: 10px;
  margin-top: 100px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: g;
}

.g h2 {
  text-align: end;
}

.g .span-contain {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.g p {
  font-weight: 600;
  text-align: end;
}

.h {
  margin-top: 50px;
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h .image {
  border-radius: 7px;
  background: url("/public/friends.png");
  background-size: cover;
  width: 300px;
  height: 250px;
  border: 0;
}

.h .image:hover {
  background: url("/public/friends-large.png");
  background-size: cover;
  position: absolute;
  right: 50px;
  width: 500px;
  height: 450px;
  overflow: auto;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
}

.span-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-brands {
  color: rgba(73, 55, 55, 0.88);
  font-size: 1.7em;
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .a .image, .D .image, .e .image, .h .image {
    width: 500px;
    height: 350px;
  }
  .a .image:hover, .D .image:hover, .e .image:hover, .h .image:hover {
    width: 700px;
    height: 550px;
  }
}

@media screen and (min-width: 2000px) {
  .a .image, .D .image, .e .image, .h .image {
    width: 700px;
    height: 450px;
  }
  .a .image:hover, .D .image:hover, .e .image:hover, .h .image:hover {
    width: 900px;
    height: 550px;
  }
}

.h ::before {
  content: '';
  position: absolute;
  background-color: green;
  width: 2px;
  height: 0%;
  left: 0;
  -webkit-animation: line 0.5s forwards 4s;
          animation: line 0.5s forwards 4s;
}

.h:hover ::before {
  display: none;
}

.e ::before {
  content: '';
  position: absolute;
  background-color: green;
  width: 2px;
  height: 0%;
  right: -3px;
  -webkit-animation: line 0.5s forwards 2s;
          animation: line 0.5s forwards 2s;
}

.e:hover ::before {
  display: none;
}

@-webkit-keyframes line {
  100% {
    height: 111%;
  }
}

@keyframes line {
  100% {
    height: 111%;
  }
}
/*# sourceMappingURL=portfolio.css.map */