.right{
    width: 50vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .contact{
        display: flex;
        justify-content: space-between;
        a{
            font-size: 2em;
        }
        #color1{
            
            &:hover{
                color: rgb(29, 12, 138);
            }
        }
        #color2{
            
            &:hover{
                color: rgb(34, 17, 147);
            }
        }
        #color3{
            
            &:hover{
                color: rgb(21, 11, 85);
            }
        }
        span{
            margin: 0 10px;
        }
    }
}